<div class="container">
  <p class="content">
    Ingreso De Nuevo Vehículo Marítimo
  </p>

  <form class="form item" #newproductForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Digita La Placa De Vehículo</mat-label>
      <input matInput
      name="placaVehiculo"
      [(ngModel)]="model.placaVehiculo"
      #placaVehiculo="ngModel"
      required
      pattern='[A-Za-z]{3}[0-9]{4}[A-Za-z]{1}'>
      <mat-error *ngIf="!placaVehiculo.valid || placaVehiculo.pristine">
        La Placa Del Vehículo Es Obligatoria y Debe Tener Un Formato De 3 Letras Seguida De 4 Números y 1 Letra Final (Ejemplo: XXX1111X)
      </mat-error>
      <mat-hint>Placa Vehículo</mat-hint>
    </mat-form-field>

    <section appearance="fill">
      <mat-checkbox name="idLogisticaVehiculo" [(ngModel)]="model.idLogisticaVehiculo" #placaVehiculo="ngModel">Tipo De Vehículo: {{model.idLogisticaVehiculo.tipoLogistica}}</mat-checkbox>
    </section>
  </form>
</div>
<div class="container__button">
  <button
  [disabled]="!newproductForm.form.valid"
  mat-raised-button
  color="primary"
  type="submit"
  (click)="onSave(newproductForm)">
    Guardar
  </button>
</div>

<div class="container__button">
  <button
  mat-raised-button
  color="primary"
  type="submit"
  (click)="cancel()">
    Cancelar
  </button>
</div>
