<mat-toolbar>
  <span class="span">Logística De Entregas</span>

  <div class="menu">
    <div class="content">
      <button mat-stroked-button color="warn" (click)="goToPedidos()">Pedidos</button>
      <button mat-stroked-button color="warn" (click)="goToProducts()">Productos</button>
      <button mat-stroked-button color="warn" (click)="goToClientes()">Clientes</button>
      <button mat-stroked-button color="warn" (click)="goToVehiculos()">Vehículos</button>
      <button mat-stroked-button color="warn" (click)="goToAlmacens()">Almacenes</button>
    </div>
  </div>
  <span class="spacer"></span>
<button class="Singin" mat-raised-button color="primary">Nuevo Usuario</button>
  <br>
<button class="Singin" mat-raised-button color="primary">Cerrar Sesión</button>
</mat-toolbar>
<div class="footer" #footer>
<span>Transporte Seguro Al Alcance De Todos</span>
</div>
