<mat-toolbar>
  <span class="span">
    Logística De Entregas
  </span>

  <div class="menu">
    <div class="content">
      <button mat-stroked-button color="warn" (click)="goToPedidos()" *ngIf="isLogged">Pedidos</button>
      <button mat-stroked-button color="warn" (click)="goToClientes()" *ngIf="isLogged">Clientes</button>
      <button mat-stroked-button color="warn" (click)="goToProducts()" *ngIf="isLogged && isAdmin">Productos</button>
      <button mat-stroked-button color="warn" (click)="goToVehiculos()" *ngIf="isLogged && isAdmin">Vehículos</button>
      <button mat-stroked-button color="warn" (click)="goToAlmacens()" *ngIf="isLogged && isAdmin">Almacenes</button>
    </div>
  </div>
  <span class="spacer"></span>
  <button class="Singin" mat-stroked-button color="accent" (click)="goToHome()">
    <mat-icon>home</mat-icon>
    Inicio
  </button>
    <br>
<button class="Singin" mat-stroked-button color="accent" (click)="goToLogin()" *ngIf="!isLogged">
  <mat-icon>login</mat-icon>
  Iniciar Sesión
</button>
  <br>
<button class="Singin" mat-stroked-button color="accent" (click)="onLogOut()" *ngIf="isLogged">
  <mat-icon>logout</mat-icon>
  Cerrar Sesión
</button>
</mat-toolbar>
<div class="footer" #footer>
<span>Transporte Seguro Al Alcance De Todos</span>
</div>
