<app-header></app-header>

<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>¡Ya Has Iniciado Sesión!</h2>
</div>

<ng-template #loggedOut>
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="content">
          <button mat-button color="accent" routerLink="/login">Inicio De Sesión</button>
          <button mat-button color="accent" routerLink="/registro">Crear Cuenta</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="form">
          <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
            <p>
              <mat-form-field appearance="outline">
                <mat-label for="nombreUsuario">Digita Tu Nombre</mat-label>
                <input class="form-control"
                matInput
                type="text"
                name="nombreUsuario"
                [(ngModel)]="nombreUsuario"
                id="nombreUsuario"
                placeholder="Nombre"
                required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label for="userName">Digita Tu Nombre De Usuario</mat-label>
                <input class="form-control"
                matInput
                type="text"
                name="userName"
                [(ngModel)]="userName"
                id="userName"
                placeholder="Nombre De Usuario"
                required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label for="correoUsuario">Digita Tu Correo Electrónico</mat-label>
                <input class="form-control"
                matInput
                type="text"
                name="correoUsuario"
                [(ngModel)]="correoUsuario"
                id="correoUsuario"
                placeholder="Correo Electrónico"
                required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label for="passUsuario">Digita Tu Contraseña</mat-label>
                <input class="form-control"
                matInput
                [type]="hide ? 'password' : 'text'"
                name="passUsuario"
                [(ngModel)]="passUsuario"
                id="passUsuario"
                placeholder="Digita Tu Contraseña"
                required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <div class="container__button">
              <button
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="!f.valid">
              <mat-icon>login</mat-icon>
                Crear Cuenta
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

