<div class="container">
  <div class="col">
    <input _ngcontent-c27 type="text" placeholder="Nombre Almacén" [(ngModel)]="search">

    <button mat-raised-button color="primary" style="width: 1rem;" (click)="ngOnInit()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="goToNewAlmacen()">
      <mat-icon>add_box</mat-icon>
      Agregar Almacén
    </button>
  </div>
</div>

<div class="content">
  <div class="table mat-elevation-z8">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="idAlmacen">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.idAlmacen}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombreAlmacen">
          <th mat-header-cell *matHeaderCellDef> Almacén </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreAlmacen}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idLogisticaAlmacen">
          <th mat-header-cell *matHeaderCellDef> Tipo De Almacén </th>
          <td mat-cell *matCellDef="let element"> {{element.idLogisticaAlmacen.tipoLogistica}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idCiudadAlmacen">
          <th mat-header-cell *matHeaderCellDef> Ubicación Del Almacén </th>
          <td mat-cell *matCellDef="let element"> {{element.idCiudadAlmacen.nombreCiudad}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="onUpdate(row.idAlmacen)">
              <mat-icon>edit_square</mat-icon>
            </button>

            <button mat-button color="accent" (click)="onDelete(row.idAlmacen)">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons aria-label='Select page of almacens'>></mat-paginator>
  </div>
</div>
