<app-header></app-header>

<div class="container">
  <div class="col">
    <input _ngcontent-c27 type="text" placeholder="Guía Del Pedido" [(ngModel)]="search">

    <button mat-raised-button color="primary" style="width: 1rem;" (click)="ngOnInit()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="goToNewPedido()">
      <mat-icon>add_box</mat-icon>
      Agregar Pedido
    </button>
  </div>
</div>

<div class="content">
  <div class="table mat-elevation-z8">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="idPlan">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.idPlan}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="guia">
          <th mat-header-cell *matHeaderCellDef> Guía Entrega </th>
          <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idClientePedido">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element">{{element.idCliente.nombreCliente}} {{element.idCliente.apellidoCliente}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idLogisticaPedido">
          <th mat-header-cell *matHeaderCellDef> Tipo De Entrega </th>
          <td mat-cell *matCellDef="let element">{{element.idLogistica.tipoLogistica}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="costoEnvio">
          <th mat-header-cell *matHeaderCellDef> Precio Envío </th>
          <td mat-cell *matCellDef="let element">${{element.costoEnvio}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="costoPagar">
          <th mat-header-cell *matHeaderCellDef> Precio Por Pagar </th>
          <td mat-cell *matCellDef="let element">${{element.costoPagar}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: left;"> Opciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="warn" (click)="onDetails(row.idPlan)">
              <mat-icon>find_in_page</mat-icon>
            </button>

            <button mat-button color="primary" (click)="onUpdate(row.idPlan)" *ngIf="isAdmin">
              <mat-icon>edit_square</mat-icon>
            </button>

            <button mat-button color="accent" (click)="onDelete(row.idPlan)" *ngIf="isAdmin">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons aria-label='Select page of pedidos'></mat-paginator>
  </div>
</div>

