<app-header></app-header>

<div class="container">
  <div class="col">
    <input _ngcontent-c27 type="text" placeholder="Placa Vehículo" [(ngModel)]="search">

    <button mat-raised-button color="primary" style="width: 1rem;" (click)="ngOnInit()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="goToNewVehiculoTerrestre()">
      <mat-icon>add_box</mat-icon>
      Agregar Vehículo Terrestre
    </button>

    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="goToNewVehiculoMaritimo()">
      <mat-icon>add_box</mat-icon>
      Agregar Vehículo Marítimo
    </button>
  </div>
</div>

<div class="content">
  <div class="table mat-elevation-z8">
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="placaVehiculo">
          <th mat-header-cell *matHeaderCellDef> Placa Vehiculo </th>
          <td mat-cell *matCellDef="let element"> {{element.placaVehiculo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idLogisticaVehiculo">
          <th mat-header-cell *matHeaderCellDef> Tipo De Transporte </th>
          <td mat-cell *matCellDef="let element"> {{element.idLogisticaVehiculo.tipoLogistica}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="onUpdate(row.id)">
              <mat-icon>edit_square</mat-icon>
            </button>

            <button mat-button color="accent" (click)="onDelete(row.id)">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons aria-label='Select page of vehiculos'>></mat-paginator>
  </div>
</div>

