<app-header></app-header>

<div class="container">
  <p class="content">
    Ingreso De Nuevo Almacén
  </p>

  <form class="form item" #newproductForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Digita El Nombre Del Almacén</mat-label>
      <input matInput name="nombreAlmacen" [(ngModel)]="model.nombreAlmacen" #nombreAlmacen="ngModel" required>
      <mat-error *ngIf="!nombreAlmacen.valid || nombreAlmacen.pristine">El Nombre Del Almacén Es Obligatorio</mat-error>
      <mat-hint>Nombre Almacen</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label *ngIf="model.idLogisticaAlmacen">{{model.idLogisticaAlmacen.tipoLogistica}}</mat-label>
      <mat-select matInput
      placeholder="Selecciona El Tipo De Almacenaje"
      name="idLogisticaAlmacen"
      [(ngModel)]="model.idLogisticaAlmacen"
      #idLogisticaAlmacen="ngModel" required>
        <mat-option *ngFor="let l of logistica" [value]="l">
          {{l.tipoLogistica}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!idLogisticaAlmacen.valid || idLogisticaAlmacen.pristine">El Tipo De Almacenaje Es Obligatoria</mat-error>
      <mat-hint>Tipo De Almacenaje</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label *ngIf="model.idCiudadAlmacen">{{model.idCiudadAlmacen.nombreCiudad}}</mat-label>
      <mat-select matInput
      placeholder="Selecciona La Ciudad"
      name="idCiudadAlmacen"
      [(ngModel)]="model.idCiudadAlmacen"
      #idCiudadAlmacen="ngModel" required>
        <mat-option *ngFor="let c of ciudad" [value]="c">
          {{c.nombreCiudad}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!idCiudadAlmacen.valid || idCiudadAlmacen.pristine">La Ubicación Del Almacén Es Obligatoria</mat-error>
      <mat-hint>Ubicación Del Almacén</mat-hint>
    </mat-form-field>
  </form>
</div>
<div class="container__button">
  <button
  [disabled]="!newproductForm.form.valid"
  mat-raised-button
  color="primary"
  type="submit"
  (click)="onSave(newproductForm)">
    Guardar
  </button>
</div>

<div class="container__button">
  <button
  mat-raised-button
  color="primary"
  type="submit"
  (click)="cancel()">
    Cancelar
  </button>
</div>
